<div class="container login_form">
    <div class="row">
        <div class="page-header text-center">
            <h1>关于我们</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3>数码设备相信大家都不觉得陌生，但可穿戴设备的研发全球目前均处于初期阶段。集成化的大势背后，一股新的需求强烈涌动，那就是对便携性的要求。</h3>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>“小满分”团队就是一个致力于研究智能可穿戴数码设备的大学生创业团体，开发团队的核心成员均是国内外的名牌大学的硕士研究生。群英荟萃，这是一个华丽的团队。他们专业分布广泛，有计算机、工业设计、软件学院、电气工程、通信工程、控制自动化等等。</h3>
        </div>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3>在成员呕心沥血的努力下，我们的第一代产品——带有摄像功能的笔、具备语音接收和播放功能的耳机终于成功投入生产运营。该产品甫一出世就受到了国内外大学生的追捧，这令我们备受鼓舞。百尺竿头，还需更进一步。为了进一步增强产品的便携性，我们决定开发第二代产品，也就是我们最新的——高清防抖摄像眼镜和无线入耳式耳机。两种产品均实现了可穿戴的要求，而且在小小的身躯里，包含了拍照，图片收发，语音传送等等功能，性能可靠，操作简单。</h3>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>未来呢？未来在一步步扎实前进的脚步里。我们会一点点完善我们的产品，做更深入的市场分析，设计出最具艺术品位的外观，选用最具手感的材料，把最不可思议却又最贴心的产品呈在您的面前，助您一臂之力。</h3>
        </div>
    </div>
</div>
<img class="img-responsive" src="img/xiaomanfen/6.jpg" alt="">