<!-- Page Content -->
<div class="content-section-b login_form">
    <div class="container">
        <div class="row">
            <br/>
            <br/>

            <div class="col-md-6 col-md-offset-3">
                <img class="img-responsive" src="img/xiaomanfen/0.png" alt="正在载入...">
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary btn-lg btn-block" disabled>暂未开放预订</button>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>

<div class="content-section-a">
    <img class="img-responsive" src="img/xiaomanfen/1.jpg" alt="">
</div>

<div class="content-section-a">
    <img class="img-responsive" src="img/xiaomanfen/2.jpg" alt="">
</div>

<div class="content-section-b">
    <img class="img-responsive" src="img/xiaomanfen/3.jpg" alt="">
</div>

<div class="content-section-a">
    <img class="img-responsive" src="img/xiaomanfen/4.jpg" alt="">
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <br/>
            <br/>
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive" src="img/xiaomanfen/5.png" alt="">
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 style="font-family: KaiTi, STKaiti, Helvetica, Arial, sans-serif">使用您的手机 或 <a href>选购我们的蓝牙耳机</a>
                </h3>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>

<div class="content-section-a">
    <img class="img-responsive" src="img/xiaomanfen/6.jpg" alt="">
</div>
